# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [ ]:
False

False

In [ ]:
stock_1_price = 100
stock_2_price = 200

print(stock_1_price == stock_2_price)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [ ]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [ ]:
# You can have a list inside another list (nested list)
my_list = ['GOOG', [3, 6, 7]]
my_list

['GOOG', [3, 6, 7]]

In [ ]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list = [2, 'GOOG', 5]

my_list[1]

'GOOG'

In [ ]:
# indexing for nested lists
my_list = ['GOOG', [3, 6, 7], ['APPL', 5, 6]]
my_list

['GOOG', [3, 6, 7], ['APPL', 5, 6]]

In [ ]:
my_list[2][2]

6

In [ ]:
my_list[2]

['APPL', 5, 6]

In [ ]:
# Negative Indexing
my_list[-3]

'GOOG'

In [ ]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [ ]:
# Obtain elements starting from index 3 to end
my_list[3:7]

['GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# All elements start to end
my_list[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]

In [ ]:
# print first element
print(stocks[0])

GOOG

In [ ]:
#print second element
print(stocks[1])

TSLA

In [ ]:
# print last element in the list
print(stocks[-1])

EUR/USD

In [ ]:
# print all element in the list
print(stocks)

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']

In [ ]:
# print first three elements
print(stocks[0:3])

['GOOG', 'TSLA', 'AAPL']

In [ ]:
# print last three elements
print(stocks[4:7])

['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])
print()
print(my_list[1])
print()
print(my_list[3])
print(my_list[-1])

GOOG

['AAPL', 'GOOG', 'TSLA']

T
T

# 3. DICTIONARY

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {'key1' : 'value1',
           'key2' : 'value2',
           'key3' : 'value3'}

In [ ]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Check the data type
type(my_dict)

dict

In [ ]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [ ]:
# Define a dictionary for a bank client listing all his/her assets! 
asset_list = {'Real estate' : '150000',
              'stocks' : '10000',
              'savings' : '20000'}

print(asset_list)

{'Real estate': '150000', 'stocks': '10000', 'savings': '20000'}

In [ ]:
# Access elements in the dictionary
asset_list['stocks']

'10000'

In [ ]:
# Add a new item to an existing dictionary
asset_list['Crypto'] = 1500

print(asset_list)

{'Real estate': '150000', 'stocks': '10000', 'savings': '20000', 'Crypto': 1500}

In [ ]:
# remove an item from the dictionary
del asset_list['savings']
print(asset_list)

{'Real estate': '150000', 'stocks': '10000', 'Crypto': 1500}

In [ ]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del asset_list
print(asset_list)

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
my_stocks = {'AAPL' : '121.26',
             'GOOG' : '2,021.91',
             'AMZN' : '3,092.93'} 

print(my_stocks)

{'AAPL': '121.26', 'GOOG': '2,021.91', 'AMZN': '3,092.93'}

# 4. STRINGS

In [ ]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = 'Hello Everyone and Welcome to Python for finance course!'
my_string

'Hello Everyone and Welcome to Python for finance course!'

In [ ]:
# Obtain the datatype
type(my_string)

str

In [ ]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first_name = 'Laily'
last_name = 'Aly'
full_name = first_name + last_name
full_name

'LailyAly'

In [ ]:
# You can combine both strings together and add spaces in between
full_name = first_name + ' ' + last_name
full_name

'Laily Aly'

In [ ]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [ ]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [ ]:
# Let's check that the datatype is list!
type(x)

list

In [ ]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [ ]:
# you can specify which letter could be choosed to perform the split
my_string = 'laila.aly@gmail.com'
z = my_string.split('@')
z

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input('What did we do at the bank today. Are you satisfied with the service?'))
words = my_string.split(' ')

print('Here are the list of words you entered:', words)

What did we do at the bank today. Are you satisfied with the service?I am super happy about the service, you guys exceeded my expectations.
Here are the list of words you entered: ['I', 'am', 'super', 'happy', 'about', 'the', 'service,', 'you', 'guys', 'exceeded', 'my', 'expectations.']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input('Welcome to the bank, please enter your email address:')

out_str = input_str.split('@')
out_str

# extract the first name
first_name = out_str[0].split('.')[0]
print('Customer first name is:', first_name.upper())

Welcome to the bank, please enter your email address:laila.aly@yahoo.com
Customer first name is: LAILA

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [ ]:
tuple_1 = ('GOOG', 'AAPL', 10, 15, 1992)
tuple_2 = (450, 55, 977, 2100)
type(tuple_1)

tuple

In [ ]:
tuple_1

('GOOG', 'AAPL', 10, 15, 1992)

In [ ]:
# Accessing elements in a tuple
tuple_1[1]

'AAPL'

In [ ]:
# Tuple slicing
tuple_1[1:3]

('AAPL', 10)

In [ ]:
# Changing a value of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 10

TypeError: ignored

In [ ]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'AAPL', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
mini_tuple =('Chukwuemeka', 'Okoli', 37, 0)

print('Length of tuple:', len(mini_tuple))
print('Type of tuple:', type(mini_tuple))

Length of tuple: 4
Type of tuple: <class 'tuple'>

# 6. SETS

In [ ]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers
my_set ={'GOOG', 'AAPL', 'T'}
print(my_set)

{'T', 'GOOG', 'AAPL'}

In [ ]:
# set do not have duplicates
my_set = {'GOOG', 'AAPL', 'TSLA', 'AAPL', 'T'}
my_set

{'AAPL', 'GOOG', 'T', 'TSLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
# convert the list to a set and back to a list
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]

out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'GOOG', 'APPL', 'TSLA', 'AAPL']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']